
/* Personnalisation du burger */
.navbar-toggler {
  border-color: #F8F9FA !important;
}
.navbar-toggler .navbar-toggler-icon {
  background-image: none !important;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
}
.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after,
.navbar-toggler .navbar-toggler-icon span {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background: #F8F9FA;
  margin: 0.3em 0;
  border-radius: 2px;
}
.navbar-toggler .navbar-toggler-icon span {
  margin: 0.3em 0;
}
.navbar-brand.nabu-title {
  font-family: 'Cormorant Garamond', serif !important;
  font-size: 2.8rem !important;
  letter-spacing: 0.1em;
  text-shadow: 1px 1px 2px #2222, 0 0 1px #fff8;
}

body, main {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #EEEEEE;
}

header {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.select-small {
	width: 340px;
	min-width: 180px;
	max-width: 100%;
}

.select2-container--default .select2-selection--single {
	font-size: 1.05rem;
	min-height: 38px;
	padding: 6px 18px;
}

/* Colonne latérale sticky lors du scroll */
.side-fixed {
  position: sticky;
  top: 2rem;
  z-index: 10;
  height: fit-content;
  min-width: 0;
}

